.weather{
    margin-top: 15%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    height:200px;
    border-radius: 10px;
}
.city{
    margin-top: 30px;
    font-size: large;
}
.sky{
    margin-top: 10px;
    font-size: large;
}
.wind{
    margin-top: 10px;
    font-size: large;
}

.temperatureSwitcher{
    text-align: left;
    font-size: x-large;
}
.temperature {
    text-align: right;
    font-size: x-large;
}
@media screen and (max-width: 740px) {
    .weather{
        background: rgba(255, 255, 255, 0.6);
        margin-top: 30%;
        height:280px;
        text-align: center;
        border-radius: 10px;

    }
    .city{
        margin-top: 50px;
        font-size: x-large;
    }
    .sky{
        margin-top: 10px;
        font-size: x-large;
    }
    .wind{
        margin-top: 10px;
        font-size: x-large;
    }
    .temperatureSwitcher{
        margin-top: 10px;
        text-align: left;
        font-size: xx-large;
    }
    .temperature {
        margin-top: 10px;
        text-align: right;
        font-size: xx-large;
    }
}