body{
    background-color: black;
}

.weather{
    margin-top: 100px;
    background-color: white;
    text-align: center;
}
.temperatureSwitcher{
    text-align: left;
}
.temperature {
    text-align: right;
}