body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.weather{
    margin-top: 10%;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}
.temperatureSwitcher{
    text-align: left;
    font-size: x-large;
}
.temperature {
    text-align: right;
    font-size: x-large;
}
